@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TalentAgency</h1>
    <br /><br />
    <p>Please Login to the application to enjoy the function offered in TalentAgency</p>
    <p>OR</p>
    <p>Register as a new user</p>
</div>
