
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PLogedLayout.cshtml";
}
<center>
<h1>Welcome to TalentAgency</h1>
<br />
<p> To find talent, please start by creating an event so talent can applied it</p>
<p> You can then start picking the talents that applied for the event by clicking on "Check Applicant"</p>

</center>
