
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LogedLayout.cshtml";
}
<center>
<h1>Welcome to TalentAgency</h1>
<br />
<p>You can start search for an event by clicking on "search event" at the top</p>
<p>Stay tuned for more event by keeping eye out on the News section</p>
</center>





