@model TalentAgency.Models.Apply

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LogedLayout.cshtml";
}

<h1>Create</h1>

<h4>Apply</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Apply_id" class="control-label"></label>
                <input asp-for="Apply_id" class="form-control" />
                <span asp-validation-for="Apply_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event_name" class="control-label"></label>
                <input asp-for="Event_name" class="form-control" />
                <span asp-validation-for="Event_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Introduction" class="control-label"></label>
                <textarea asp-for="Introduction" class="form-control"></textarea>
                <span asp-validation-for="Introduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date_created" class="control-label"></label>
                <input asp-for="Date_created" class="form-control" />
                <span asp-validation-for="Date_created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

