@model List<List<KeyValuePair<string, string>>>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PLogedLayout.cshtml";
}

<h1>Manage Newsfeed</h1>

<a asp-action="addData">Create New News</a>
<br />

<a asp-action="manageNews">Manage News</a>







